<h1><%= @billboard.name %> - <%= @artist.name %></h1>
<p><%= @artist.name %></p>
<%= link_to 'View Songs', artist_songs_path(@artist) %>
<%= link_to 'Edit Artist', edit_billboard_artist_path(@artist) %>
<%= link_to 'Delete Artist', [@billboard, @artist], method: :delete %>
<%= link_to 'Back To Artists', billboard_artists_path(@billboard) %>